<% layout('layout') %>

  <body>
    <main class="main">
      
      <section>
        <h1>歡迎來到YuSei</h1>
        <p>這是一個訓練用以及開發模板的網站。</p>
        <p>登入後可以在這裡發布文章、留言。</p>
        <!-- <button>查看更多</button> -->
      </section>

      <!-- <section>
        <table>
          <thead>
            <tr>
              <th>姓名</th>
              <th>年齡</th>
              <th>性別</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>張三</td>
              <td>25</td>
              <td>男</td>
            </tr>
            <tr>
              <td>李四</td>
              <td>32</td>
              <td>女</td>
            </tr>
            <tr>
              <td>王五</td>
              <td>18</td>
              <td>男</td>
            </tr>
          </tbody>
        </table>

      </section>

      <section>
        <h2>我們的產品</h2>
        <ul>
          <li>
            <h3>產品1</h3>
            <p>產品1的描述。</p>
          </li>
          <li>
            <h3>產品2</h3>
            <p>產品2的描述。</p>
          </li>
          <li>
            <h3>產品3</h3>
            <p>產品3的描述。</p>
          </li>
        </ul>
      </section>

      <section>
        <h2>關於我們</h2>
        <p>我們是一家專注於提供高品質產品和優質服務的公司。</p>
      </section> -->

      <!-- <section>
        <h2>聯絡我們</h2>
        <form action="#" method="POST">
          <label class="index" for="name">姓名：</label>
          <input type="text" class="index" id="name" name="name" required><br>

          <label class="index" for="email">電子郵件：</label>
          <input type="email" class="index" id="email" name="email" required><br>

          <label class="index" for="message">留言：</label>
          <textarea id="message" class="index" name="message" required></textarea><br>

          <input type="submit" class="index" value="提交">
        </form>
      </section> -->
    </main>
    <div id="bg"></div>
  </body>