<% layout('layout') %>

    <body>
        <main class="main">
            <section id="banner">
                <%-partial('partials/message') %>
                <h2>歡迎  <%= member_info.name %></h2>
                <p></p>
            </section>
        </main>
    </body>